Checks: '-*,clang-diagnostic-*,clang-analyzer-*,bugprone*,modernize*,performance*,readability*,cppcoreguidelines*,misc*,-modernize-use-nodiscard,-*magic-numbers,-readability-uppercase-literal-suffix,-readability-implicit-bool-conversion,-misc-non-private-member-variables-in-classes,-cppcoreguidelines-owning-memory,-cppcoreguidelines-avoid-non-const-global-variables,-cppcoreguidelines-pro-type-union-access'